.dropdown__wrapper {
    position: relative;
    width: min-content;
    background-color: rgb(18, 18, 18);
    border-radius: 4px;
    padding: 1rem 0;
    cursor: pointer;
}


/* input */
.input__wrapper {
    display: flex;
    align-items: center;
    gap: .5rem;
    padding: 0 1rem;
}

.input {
    border: 1px solid rgba(255, 255, 255, 0.7);
    outline: 0;
    border: 0;
    background-color: rgb(18, 18, 18);
    color: #fff;
    cursor: pointer;
    text-transform: capitalize;
}


/* ul */
.list {
    max-height: 0;
    position: absolute;
    top: 100%;
    overflow: hidden;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
    width: 100%;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    transition: max-height .3s ease;
    background-color: #343541;
}

.listActive {
    max-height: 200px;
}


/* label */
.label {
    display: block;
    margin-bottom: .5rem;
}


/* svg */
.svg__styled {
    color: #fff;
    margin-left: -2rem;
    transition: all .5s ease;
}

.svgActive {
    transform: rotate(180deg);
}


/* li */
.li__styled {
    cursor: pointer;
    padding: 1rem;
    text-transform: capitalize;
    color: #fff;
    transform: all .5s ease;

}

.li__styled:hover {
    background: #444654;
}

.li__selected {
    background-color: #444654;
}