.btn-style{
    padding: 10px 20px;
    font-size: 20px;
}

.close-btn{
    float:right;
    padding: 5px;
    cursor: pointer;
    background-color: inherit;
    outline: none;
    border: none;
    font-size: 30px;
}