.modal-style {
    display: none;
    background-color: #F0F0F0;
    width: 400px;
    height: 100%;
    padding: 20px;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 5;
    animation-name: animateright;
    animation-duration: 0.4s
}

@keyframes animateright {
    from {right:-400px; opacity:0}
    to {right:0; opacity:1}
}
